@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

$aside-width: 400px;
$landing-upper-padding: 15vh;

$landing-section-min-height: 700px;

$gradient: linear-gradient(33deg, transparent 0%, transparent 8%,rgba(9, 9, 9,0.02) 8%, rgba(9, 9, 9,0.02) 59%,transparent 59%, transparent 100%),
linear-gradient(234deg, transparent 0%, transparent 32%,rgba(225, 225, 225,0.02) 32%, rgba(225, 225, 225,0.02) 99%,transparent 99%, transparent 100%),
linear-gradient(312deg, transparent 0%, transparent 24%,rgba(93, 93, 93,0.02) 24%, rgba(93, 93, 93,0.02) 58%,transparent 58%, transparent 100%),
linear-gradient(90deg, rgb(204, 127, 127),rgb(245, 153, 153));



.durchsichtiger-text {
  h1 {
    -webkit-touch-callout: none;
    user-select: none;
    color: rgba(255, 255, 255, 0.2);  
    word-wrap: initial;
    word-break:initial;
    hyphens: initial;
  }
}


.landing-section {
  position: relative;
  z-index: 2;
  background-image: $gradient;
  display: flex;
  height: 100vh;
  min-height: $landing-section-min-height;
}

.landing-section main {
  overflow: hidden;
  width: calc(100% - #{$aside-width});
  position: relative;
  
  article {
    
    height: fit-content;
    width: 100%;
    padding: $landing-upper-padding 10%;

    display: flex;
    color: white;

    .abkuerzung {

      font-family: 'Arvo';
      writing-mode: vertical-rl;
      height: fit-content;
      font-size: 5rem;
      transform: rotateZ(180deg);

    }

    .ausgefuehrt {
      font-size: 5rem;
      line-height: 1;
      display: flex;
      flex-direction: column;

      span {
        margin-bottom: 10px;
        word-break:break-word;
        hyphens: auto;
      }

    }


  }


  .durchsichtiger-text {
    position: absolute;
    top: 0;
    right: 0;

    h1 {
      font-size: 50em;
      transform: rotateZ(45deg);
      line-height: 1.1;
    }

  }

}


@keyframes aside-scroll-in {
  0% {
    right: -$aside-width;
  }
  100% {
    right: 0;
  }
}


.landing-section aside {
  position: relative;
  animation: aside-scroll-in 1s ease;
}

.landing-section aside, .navigation-link-detailed .sub-menu {
  width: $aside-width;
  background-color: white;
  overflow-x: hidden;

  .navigation-back-button {
    margin: 50px 0 0 50px;
    height: 30px;
    width: 30px;
    background-image: url("./arrow_back_ios_red_24dp.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  ul {
    padding: 50px 50px;
    list-style-type: none;
    overflow: hidden;

    li {
      cursor: pointer;

      margin-right: 0;
      margin-left: 0;
      transition: margin-left 0.2s ease, margin-right 0.2s ease;
      &:hover, &:focus {
        margin-left: 10px;
        margin-right: -10px;
      }


      margin-bottom: 20px;
      font-size: 1.7rem;
      font-weight: 1000;

      background-image: linear-gradient(33deg, transparent 0%, transparent 8%,rgba(9, 9, 9,0.02) 8%, rgba(9, 9, 9,0.02) 59%,transparent 59%, transparent 100%),
      linear-gradient(234deg, transparent 0%, transparent 32%,rgba(225, 225, 225,0.02) 32%, rgba(225, 225, 225,0.02) 99%,transparent 99%, transparent 100%),
      linear-gradient(312deg, transparent 0%, transparent 24%,rgba(93, 93, 93,0.02) 24%, rgba(93, 93, 93,0.02) 58%,transparent 58%, transparent 100%),
      linear-gradient(90deg, rgb(204, 127, 127),rgb(245, 153, 153));
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

  }

}

.landing-section aside {
  animation: aside-scroll-in 1.5s;
}

.navigation-link-detailed .sub-menu {
  height: 100vh;
  min-height: $landing-section-min-height;
  position: absolute;
  z-index: 2;
  top: 0;
  transition: right 0.5s ease;
  right: -$aside-width;
}

.navigation-link-detailed .sub-menu.menu-open {
  right: 0;
}

.navigation-link-detailed .sub-menu.menu-closed {
  right: -$aside-width;
}

.introduction-section {
  margin: 0;
  $decoration-section-width: 200px;
  $background-color: whitesmoke;
  background-color: $background-color;
  width: 100%;
  display: flex;

  .decoration-section {
    background-color: $background-color;
    position: relative;
    z-index: 1;
    width: $decoration-section-width;
    min-width: $decoration-section-width;
    height: auto;

    display: flex;
    justify-content: space-between;

    .color {
      $width: 6px;
      height: 50%;
      width: $width;
      background-color: rgb(204, 127, 127);
      z-index: 0;
      position: fixed;
      top: 0;
      left: calc((#{$decoration-section-width} / 2) - (#{$width} / 2));
    }

  }

  .content-section {

    article {
      margin: 200px 0px;
  
      .checkpoint {
        position: relative;
        z-index: 3;

        $size: 20px;
        width: $size;
        height: $size;
        border-radius: $size / 2;
        background-color: rgb(204, 127, 127);

        left: calc(-#{$decoration-section-width} / 2 - #{$size} / 2);
      }

      div {
        display: flex;
        h2 {
          display: flex;
          flex-direction: column;
          line-height: 1;
          font-size: 5em;
          align-items: flex-end;
        }
        p {
          margin-left: 40px;
          font-size: 1.8em;
          display: flex;
          flex-direction: column;
    
          span {
            margin-bottom: 20px;
          }
    
        }
      }
    }

  }

}

.posts-header-section {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background: $gradient;
  z-index: 4;

  overflow: hidden;
  color: white;

  .durchsichtiger-text {
    position: absolute;
    h1 {
      line-height: 0.9;
      font-size: 40em;
    }
  }

  article {
    margin-top: 100px;
    width: 100%;
    h2 {
      text-align: center;
      font-size: 7em;
    }
    h3 {
      text-align: center;
      font-size: 4em;
    }
  }

}