@import "constants.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

@keyframes blend-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.transparent-text {
  * {
    -webkit-touch-callout: none;
    user-select: none;
    color: rgba(255, 255, 255, 0.2);  
    word-wrap: initial;
    word-break:initial;
    hyphens: initial;
  }
}

body, html {
  min-height: 100%;
  animation: blend-in 2s ease;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-all;
  word-break: break-word;
  hyphens: auto;
  font-family: 'Poppins', sans-serif;
}

p {
  text-align: justify;
}

a {
  color: rgb(50, 50, 50);
}

blockquote, q {
  text-align: justify;
}

blockquote {
  margin-top: 50px;
  &::before, &::after {
    line-height: 0.5;
    display: block;
    font-size: 100px;
  }
  &::before {
    content: open-quote;
    line-height: 0.5;
  }
  &::after {
    margin-top: 50px;
    content: close-quote;
  }

  font-size: 1.2em;
  quotes: "“" "”" "‘" "’";
}

q {
  &::before {
    line-height: 1;
    display: block;
    font-size: 100px;
  }
  &::before {
    content: open-quote;
    line-height: 0.5;
  }
  &::after {
    margin-top: 50px;
    content: none;
  }

  font-size: 1.2em;
  quotes: "“" "”" "‘" "’";
}


/// page transitions:

$scroll-delay: 100ms;
$transition-duration: 600ms;
$transition-offset: 300px;

.fade-enter {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: -$transition-offset;
  right: 0;
  z-index: 9999;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  top: 0;
  right: 0;
  transition: top $transition-duration ease-in-out, opacity $transition-duration ease-in-out;
  transition-delay: $scroll-delay + $transition-duration;
}

.fade-exit {
  opacity: 1;
  top: 0;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: 9999;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  right: 0;
  top: -$transition-offset;
  transition: top $transition-duration ease-in-out, opacity $transition-duration ease-in-out;
  transition-delay: $scroll-delay;
}