nav {
  position: fixed;
  z-index: 99999;
}
nav ul.navigation-links {
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
  right: 30px;
  position: fixed;
  width: calc(100% - 60px);
  max-width: 400px;
  height: calc(100% - 140px);
  background-color: white;
  padding: 50px 50px;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
}
nav ul.navigation-links li {
  cursor: pointer;
  margin-right: 0;
  margin-left: 0;
  transition: margin-left 0.2s ease, margin-right 0.2s ease;
  margin-bottom: 20px;
  font-size: 1.7rem;
  font-weight: 300;
  background-image: linear-gradient(33deg, transparent 0%, transparent 8%, rgba(9, 9, 9, 0.02) 8%, rgba(9, 9, 9, 0.02) 59%, transparent 59%, transparent 100%), linear-gradient(234deg, transparent 0%, transparent 32%, rgba(225, 225, 225, 0.02) 32%, rgba(225, 225, 225, 0.02) 99%, transparent 99%, transparent 100%), linear-gradient(312deg, transparent 0%, transparent 24%, rgba(93, 93, 93, 0.02) 24%, rgba(93, 93, 93, 0.02) 58%, transparent 58%, transparent 100%), linear-gradient(90deg, rgb(204, 127, 127), rgb(245, 153, 153));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
nav ul.navigation-links li:hover, nav ul.navigation-links li:focus {
  margin-left: 10px;
  margin-right: -10px;
}
nav ul.navigation-links.open {
  top: 110px;
  opacity: 1;
}
nav ul.navigation-links.closed {
  top: 0px;
  opacity: 0;
}
nav .menu-button {
  z-index: 4;
  width: 50px;
  height: 50px;
  background-color: white;
  position: fixed;
  right: 30px;
  top: 30px;
  background-image: url("./menu_black_24dp.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  cursor: pointer;
}

.navigation-link-detailed .sub-menu {
  position: fixed;
  background-color: white;
  width: 400px;
}
.navigation-link-detailed .sub-menu .navigation-back-button {
  margin: 50px 0 0 50px;
  height: 30px;
  width: 30px;
  background-image: url("./arrow_back_ios_red_24dp.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.navigation-link-detailed .sub-menu ul {
  padding: 50px 50px;
  list-style-type: none;
}
.navigation-link-detailed .sub-menu ul li {
  cursor: pointer;
  margin-right: 0;
  margin-left: 0;
  transition: margin-left 0.2s ease, margin-right 0.2s ease;
  margin-bottom: 20px;
  font-size: 1.7rem;
  font-weight: 300;
  background-image: linear-gradient(33deg, transparent 0%, transparent 8%, rgba(9, 9, 9, 0.02) 8%, rgba(9, 9, 9, 0.02) 59%, transparent 59%, transparent 100%), linear-gradient(234deg, transparent 0%, transparent 32%, rgba(225, 225, 225, 0.02) 32%, rgba(225, 225, 225, 0.02) 99%, transparent 99%, transparent 100%), linear-gradient(312deg, transparent 0%, transparent 24%, rgba(93, 93, 93, 0.02) 24%, rgba(93, 93, 93, 0.02) 58%, transparent 58%, transparent 100%), linear-gradient(90deg, rgb(204, 127, 127), rgb(245, 153, 153));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.navigation-link-detailed .sub-menu ul li:hover, .navigation-link-detailed .sub-menu ul li:focus {
  margin-left: 10px;
  margin-right: -10px;
}

.landing-section aside {
  -webkit-animation: aside-scroll-in 1.5s;
          animation: aside-scroll-in 1.5s;
}

.navigation-link-detailed .sub-menu {
  height: 100vh;
  position: absolute;
  z-index: 2;
  top: 0;
  transition: right 0.5s ease;
  right: -400px;
}

.navigation-link-detailed .sub-menu.menu-open {
  right: 0;
}

.navigation-link-detailed .sub-menu.menu-closed {
  right: -400px;
}/*# sourceMappingURL=navigation.css.map */