@import "./../../../../css/constants.scss";



$image-size: 500px;
$heading-padding: 100px;

.template-landing-section {

  background-color: $accent-color;
  background-image: $background-gradient;
  width: 100%;
  height: auto;
  min-height: 700px;

  article {

    width: 100%;
    min-height: 60%;
    height: auto;
    padding: $heading-padding;
    
    h1 {
      position: relative;
      z-index: 3;
      font-size: 5em;
      color: white;
    }

    h3 {
      user-select: none;
      position: absolute;
      font-size: 7em;
      color: white;
      opacity: 0.1;
      z-index: 1;
      top: calc($heading-padding + 5%);
      left: 5% * 2;
    }

  }

  img {
    position: relative;
    z-index: 1;

    top: calc(#{$image-size} / 2);
    width: $image-size;
    height: $image-size;
    object-fit: contain;

    margin-left: calc(50% - #{$image-size / 2});

    box-shadow: 0px 30px 100px $soft-shadow-color;
  }


}

.template-content-section {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  padding: 100px 300px;
  padding-top: $image-size / 2 + 100px;

  .upload-date {
    color: rgba(100, 100, 100, .9);
  }

  article {

    h2 {
      font-size: 2em;
      margin: 50px 0 20px 0;
    }
    p {
      font-size: 1.3em;
      margin-bottom: 20px;
    }

  }

}

@import "./page-template-responsive.scss";