.template-landing-section {
  background-color: rgb(204, 127, 127);
  background-image: linear-gradient(33deg, transparent 0%, transparent 8%, rgba(9, 9, 9, 0.02) 8%, rgba(9, 9, 9, 0.02) 59%, transparent 59%, transparent 100%), linear-gradient(234deg, transparent 0%, transparent 32%, rgba(225, 225, 225, 0.02) 32%, rgba(225, 225, 225, 0.02) 99%, transparent 99%, transparent 100%), linear-gradient(312deg, transparent 0%, transparent 24%, rgba(93, 93, 93, 0.02) 24%, rgba(93, 93, 93, 0.02) 58%, transparent 58%, transparent 100%);
  width: 100%;
  height: auto;
  min-height: 700px;
  overflow: hidden;
  position: relative;
}
.template-landing-section .transparent-text {
  top: 0;
  position: absolute;
  z-index: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  overflow: hidden;
}
.template-landing-section .transparent-text h1 {
  width: 100vw;
  font-size: 20em;
  line-height: 1;
  position: relative;
  left: 35vw;
}
.template-landing-section article {
  width: 100%;
  min-height: 50%;
  height: auto;
  padding: 200px 100px;
  overflow-x: hidden;
}
.template-landing-section article > h1 {
  z-index: 3;
  font-size: 5em;
  color: white;
}
.template-landing-section .scroll-indicator {
  bottom: 50px;
}

.template-image-section {
  height: 0;
}
.template-image-section img {
  position: relative;
  z-index: 2;
  top: calc(-500px / 2);
  width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: calc(50% - 250px);
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.2);
}

.template-content-section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  padding: 100px 300px;
  padding-top: 350px;
}
.template-content-section .upload-date {
  color: rgba(100, 100, 100, 0.9);
}
.template-content-section article h2 {
  font-size: 2em;
  margin: 50px 0 20px 0;
}
.template-content-section article p {
  font-size: 1.1em;
  margin-bottom: 20px;
}
.template-content-section article ul, .template-content-section article ol {
  margin-bottom: 25px;
}

@media screen and (max-width: 650px) {
  .template-landing-section {
    padding-bottom: 100px;
  }
  .template-landing-section article {
    padding: 100px calc(100px / 2);
  }
  .template-landing-section article h1 {
    font-size: 3em;
  }
  .template-landing-section article h3 {
    display: none;
  }

  .template-image-section img {
    top: -400px;
    width: 300px;
    margin-left: calc(50% - 150px);
  }
}
@media screen and (max-width: 400px) {
  .template-image-section img {
    width: 200px;
    margin-left: calc(50% - 100px);
  }

  .template-landing-section article h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 1200px) {
  .template-content-section {
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media screen and (max-width: 650px) {
  .template-content-section {
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media screen and (max-width: 400px) {
  .template-content-section {
    padding: 30px;
    padding-top: 100px;
  }

  .template-content-section article h2 {
    font-size: 1.5em;
    margin: 50px 0 20px 0;
  }
  .template-content-section article p {
    font-size: 1em;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=page-template.css.map */